<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style media="screen">
    .center {
      position: absolute;
      left: 50%;
      top: 40%;
      transform: translate(-50%, -50%);
      border: 5px solid #0000;
      padding: 10px;
      }
    </style>
</head>
<body>
  <div class="center">
    <form action="/updatedeck/{{deckname}}" method="post" >
        <label for="">Current Name</label><br>
        <input type="text" name="current" disabled value="{{deckname}}"><br>
        <label for="">New Name</label><br>
        <input type="text" name="new"><br>
        <input type="submit" value="Update"><br>

    </form>
  </div>
</body>
</html>
